.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3874ff;
  padding: 10px 20px;
  margin-bottom: 70px;
  border-radius: 10px;
  flex-shrink: 0;
}

.main {
  flex: 1;
  padding: 20px 0;
}

.header a {
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  font-size: 1.1rem;
}

.footer {
  text-align: center;
  background-color: #3874ff;
  padding: 20px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    gap: 8px;
  }
}
